cloud_id                 = "12312441kr93bpo2"
folder_id                = "b1142124124214qfn"
zone                     = "ru-central1-a"
image_id                 = "f2141244212412412a"
public_key_path          = "/user/appuser.pub"
subnet_id                = "e9bejaqbs0umodm71bhg"
service_account_key_file = "/user/terraform-key.json"
private_key_file         = "/user/appuser"
app_disk_image           = "fd14241242141243hh"
db_disk_image            = "f1241244124126810r"
