cloud_id                 = "b1gknifmdqqekr93bpo2"
folder_id                = "b1g2v6pvj8d70ian4qfn"
zone                     = "ru-central1-a"
image_id                 = "fd8k417asc0r66osjsea"
public_key_path          = "/home/leon4eg/.ssh/appuser.pub"
subnet_id                = "e9bejaqbs0umodm71bhg"
service_account_key_file = "/home/leon4eg/terraform-key.json"
private_key_file         = "/home/leon4eg/.ssh/appuser"
app_disk_image           = "fd81hn2m6ag06a9pu3hh"
db_disk_image            = "fd8le0gsjnqs5v96810r"
